$light-blue: #61dafb;
$dark-blue: #282c34;
$black-trans-25: #00000040;
$light-gray: #f6f6f6;
$light-red: #ff6060;

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: $dark-blue;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: $light-blue;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

#root {
  padding: 50px 400px 10px 400px;
}

.navbar {
  display: flex;
  justify-content: space-between;

  .navbar-menu {
    display: flex;
    font-family: 'Montserrat';
    gap: 50px;
    padding: 20px;
  }

  .nav-link {
    text-decoration: none;
    color: black;
    font-weight: 500;
    font-size: 24px;
  }

  .active {
    text-decoration: underline;
  }
}

.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
  margin-top: 20px;

  .banner-main {
    display: flex;
    justify-content: center;

    .banner-image {
      width: 100%;
      height: 350px;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 25px;
        box-shadow: 0px 0px 5px 0px $black-trans-25;
        filter: brightness(50%);
      }
    }

    .bannerTxt {
      position: absolute;
      font-family: 'Montserrat';
      display: flex;
      width: 100%;
      height: 350px;
      justify-content: center;
      align-items: center;
      font-size: 48px;
      color: white;
      text-shadow: 0px 0px 5px black;
      font-weight: bold;
    }
  }

  .cards-main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 50px 0px 50px 0px;
    justify-items: center;
    background-color: $light-gray;
    border-radius: 25px;


    .cards-item {
      display: flex;
      align-items: flex-end;
      font-family: 'Montserrat';
      font-weight: bold;
      color: white;
      text-decoration: none;
      font-size: 18px;
      background: linear-gradient(180deg, $light-red 0%, $light-red 42%, $light-red 99.99%, $light-red 100%);
      border-radius: 10px;
      width: 350px;
      height: 350px;
      padding: 10px;
    }
  }
}

.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
  margin-top: 20px;

  .banner-main {
    display: flex;
    justify-content: center;

    .banner-image {
      width: 100%;
      height: 350px;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 25px;
        box-shadow: 0px 0px 5px 0px $black-trans-25;
      }
    }
  }
}

.carousel {
  display: flex;
  justify-content: center;
  align-items: center;

  button {
    width: 200px;
    height: 200px;
  }

  .img-places {
    width: 100%;
    height: 450px;
    border-radius: 25px;
    object-fit: cover;
  }

  .carousel-buttons {
    width: 100%;
  }
}

.dropdown {
  width: 100%;
  margin-bottom: 20px;

  .dropdown-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #ff6060;
    color: white;
    padding: 10px 15px;
    cursor: pointer;
    font-weight: 500;
  }

  .arrow {
    transition: transform 0.3s ease;
  }

  .arrow.open {
    transform: rotate(180deg);
  }

  .dropdown-content {
    max-height: 0;
    overflow: hidden;
    background: #f7f7f7;
    transition: max-height 0.3s ease;
    padding: 0 15px;
  }

  .show {
    max-height: 200px;
    padding: 15px;
    overflow: unset;
  }
}